.responseFormContainer {
  height: 110%;
  display: flex;
  flex-direction: row;
  gap: clamp(1rem, 4vw, 3rem);
  padding: 0 clamp(1rem, 5vw, 5rem);
}

.aplussa {
  margin-right: 7rem;
  margin-top: 14rem;
  align-self: center;
  height: 17rem;
  width: 17rem;
}

@media (max-width: 700px) {
  .responseFormContainer {
    flex-direction: column;
    padding: 0 1rem;
  }

  .aplussa {
    margin: 0;
    align-self: center;
    height: 15rem;
    width: 15rem;
  }
}
