---
import Layout from "../layouts/Layout.astro";
import Tidslinje from "../assets/tidslinje.svg"
import { Container } from "../components/ContainerTwo";
---

<Layout>
  <Container align="left" className="containerWidth">
    <h1 class="title" style>Praktisk info</h1>
    <small style={{fontStyle: "italic"}}>Denne siden oppdateres fortløpende fram mot bryllupsdagen.</small>
    <small style={{fontStyle: "italic"}}>Sist oppdatert: 12.02.26</small>
    <h2 class="title">Svarfrist</h2>
    <p>
      Vi setter pris på om du kan gi beskjed så snart du vet om du har mulighet til å komme. Siste frist for å svare er 13. mai.
      <br/>
      <br/>
      Gi oss beskjed ved å fylle ut <a class="linkUnderline" href='/svar'>svarskjema</a>.
    </p>
    <h2 class="title">Tale eller innslag?</h2>
    <p>
      Toastmaster for kvelden er Kamilla Endal. Ønsker du å holde tale eller innslag, ta kontakt med henne på <a class="linkUnderline" href="mailto:kamilla.endal@gmail.com">kamilla.endal@gmail.com</a>.
    </p>
    <h2 class="title">Gaver</h2>
    <p>
      Mange av dere reiser langt for å kunne bli med på denne feiringen. Vi ønsker at dere bruker pengene deres på å komme dere til Ålesund og bo behagelig!
      Vi er altså veldig takknemlig for en hver av dere som kommer og vil feire denne dagen med oss.
    </p>
    <p>
    Vi tar gledelig i mot hjemmelaget kake som gave til sunnmørsk kakebord etter middagen. Hvis du har lyst å bidra med kake ta kontakt med oss 
    (<a class="linkUnderline" href="mailto:anna.endal@gmail.com">anna.endal@gmail.com</a> eller <a class="linkUnderline" href="mailto:aksel.christoffer.wiig@gmail.com">aksel.christoffer.wiig@gmail.com</a>) slik at vi kan ha en oversikt.
    </p>
    <p>
      For de som likevel ønsker å gi noe, kan bidrag overføres til kontonummer <span style={{fontWeight: 600}}>3905 33 27471</span>.
      Pengene ønsker vi å bruke på kunst og opplevelser, kanskje i form av en bryllupsreise.
    </p>
    <h2 class="title">Overnatting</h2>
    <p>
      Vi skal selv bo på <a style={{textDecoration: 'underline'}} href="https://www.brosundet.no">Hotell Brosundet</a>, som er et steinkast unna både Fabrikken, Frimurerlogen og Ålesund kirke. Vi har reservert 15 dobbeltrom og 10 enkeltrom ekstra som du kan ringe inn å booke selv.
    </p>
    <p>
    <span style={{fontWeight: 600}}>Priser:</span></br>
      2700,- for dobbeltrom per natt</br>
      2520,- for enkeltrom per natt
    </p>
    <p>Brosundet tilbyr oss gratis frokost, og rommene holdes av til og med 1. mai. Om du ikke ønsker benytte deg av dette tilbudet finnes det selvsagt mange andre hoteller i Ålesund å velge mellom.</p>
    <h2 class="title" >Antrekk</h2>
    <p>Kle deg i noe du føler deg flott i! Vi minner om at typisk temperatur i Ålesund i juni er 12 grader og regn.</p>
    <h2 class="title">Spørsmål</h2>
    <p style={{marginBottom: '4rem'}}>
      Ta kontakt med oss om det er noe du lurer på - <a class="linkUnderline" href="mailto:anna.endal@gmail.com">anna.endal@gmail.com</a> eller <a class="linkUnderline" href="mailto:anna.endal@gmail.com">aksel.christoffer.wiig@gmail.com</a>
    </p>
  </Container>
</Layout>

<style>
  .linkUnderline {
    text-decoration: underline;
  }

  .timeline {
    max-height: 30rem;
    width: auto;
  }

  .containerWidth {
    max-width: 700px;
  }

  .title {
    margin-bottom: 0;
  }
</style>
