---
import Layout from "../layouts/Layout.astro";
import { Container } from "../components/Container";
---

<Layout>
  <Container style={{ gap: 0 }}>
    <h1 style={{ margin: 0 }}>Takk for svar!</h1>
    <p class="fontTest">Vi gleder oss til å feire med deg.</p>
  </Container>
</Layout>

<style>
  .fontTest {
    font-family: var(--font-inter), sans-serif;
  }
</style>
