@keyframes fadeinout {
  0% {
    opacity: 0;
  }
  14% {
    opacity: 1;
  }
  86% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fadeInOut {
  animation: fadeinout 5s linear forwards;
  opacity: 0;
  position: absolute;
  width: 100px;
  height: 100px;
  pointer-events: none;
}

#mainContainer {
  height: 100%;
  padding: 0 0.5rem;
}

.comingSoon {
  position: relative;
  display: inline-flex;
  align-items: center;

  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    background-image: var(--icon-url);
    background-size: 100% 100%;
    background-repeat: no-repeat;

    position: absolute;
    top: -0.9rem;
    left: 18%;
    left: 30%;
    transform: translateX(-30%);
    width: 11rem;
    aspect-ratio: 3 / 1.5;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s ease;
  }

  &:hover {
    cursor: default;

    &::after {
      opacity: 1;
    }
  }
}

.gridContainer {
  min-height: 100dvh;
  display: grid;
  grid-template-rows: 1fr auto;
  padding: clamp(1rem, 4vw, 3rem);
  box-sizing: border-box;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: -5rem;
}

.linkContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
  font-size: 28px;
  margin-bottom: 5rem;
}

.linkContainer > * {
  min-width: 0;
}

@media (max-width: 420px) {
  .linkContainer {
    gap: 0.5rem;
    flex-direction: column;
    align-items: center;
  }

  .gridContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .hero {
    margin: 0;
  }

  .linkContainer {
    margin: 0;
    margin-top: 2rem;
  }
}
